<form class="contact-section">
        <fieldset>
            <h1>Contact Us</h1>
            <br>
            <p>Name</p>
            <input class="contact-username" id="usersname" type="text" value="" placeholder="Enter your name">
            <p>Email</p>
            <input class="contact-email" type="text" value="" placeholder="Enter your email">
            <br>
            <p>Message</p>
            <textarea class="contact-message" placeholder="Enter your feedback" rows="10" cols="50"></textarea>
            <br>
            <input class="contact-button" id="contact-button" type="button" value="Send Feedback">
        </fieldset>
    </form>