<form class="form" method="POST" action="/">
  <label>Username :</label>
  <input type="text" name="username" id="email">
  <label>Password :</label>
  <input type="password" name="password" id="password">
  <button type="submit" id="login" value="Login">Submit</button>
</form>

<%- message %>